{% extends "gestion_usuarios/base.html" %}

{% block content %}
<html>
    <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 400px;text-align: right">
        <form action="/turno_fiebre_a" method="POST"> {% csrf_token %}
 
            <p>¿Usted se desea vacunar contra la fiebre amarilla?
                <select name="si_o_no">
                    <option value="si">Si</option>
                    <option value="no">No</option>
                  </select>
            </p>
  
            <input type="submit" value="Pedir turno">
    <p>                
        <a href="{% url 'inicio' %}">Volver a inicio</a>
    </p> 
    </span>
</html>
{% endblock %}