{% extends "gestion_usuarios/base.html" %}

{% block content %}
<html>
    <body>
        <p> Subir historial de vacunacion: Vacuna del coronavirus. </p>

        <p> Si se aplico alguna dosis: </p>

        <form action="/covid" method="POST"> {% csrf_token %}
            <p> 
                Cantidad de dosis: <input type="text" name="cantidad_dosis">
            </p>

            <p> 
                Enfermedades: <input type="text" name="paciente_riesgo">
            </p>
    
            <input type="submit" value="Pedir turno">
        </form>

    </body>
</html>
{% endblock %}
