{% extends "gestion_usuarios/base.html" %}

{% block content %}
<html>
    <body>

        <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 400px;text-align: right">
      
        <p> Subir historial de vacunacion: Vacuna del coronavirus. </p>

        <p> Si se aplico alguna dosis: </p>

        <form action="/covid" method="POST"> {% csrf_token %}
            <p> 
                Cantidad de dosis: <input type="text" name="cantidad_dosis">
            </p>

            <p> 
                Ponga "si" si posee alguna enfermedad, "no" en caso contrario: <input type="text" name="si_o_no">
            </p>
    
            <input type="submit" value="Pedir turno">
            <p>                
                <a href="{% url 'inicio' %}">Volver a inicio</a>
            </p> 
    
        </form>
    </span>
    </body>
</html>
{% endblock %}
