{% extends "gestion_usuarios/base.html" %}

{% block content %}
<html>
    <body>

        <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 400px;text-align: right">
      
        <p> Subir historial de vacunacion: Vacuna de la fiebre amarilla. </p>

        <form action="/fiebre_a" method="POST"> {% csrf_token %}
 
            <p>¿Usted se vacuno contra la fiebre amarilla?
                <select name="si_o_no">
                    <option value="si">Si</option>
                    <option value="no">No</option>
                  </select>
            </p>
            <p>
                Fecha de la aplicación de la vacuna: <input type="date" name="fecha_aplicacion_fiebre_a"> 
            </p>
    
            <input type="submit" value="Pedir turno">

            <p>                
                <a href="{% url 'inicio' %}">Volver a inicio</a>
            </p> 
        </form>
    </span>
    </body>
</html>
{% endblock %}
