{% extends "gestion_usuarios/base.html" %}

{% block content %}
<html>
    <body>

        <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 400px;text-align: left">
      
        <p> Subir historial de vacunacion: Vacuna de la fiebre amarilla. </p>

        <form action="/fiebre_a" method="POST"> {% csrf_token %}
            {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            <span style="background-color: rgb(251, 133, 3)"> 
                                {{ message }}
                                </span>
                        </span>
                    </li>
                    {% endfor %}
                </ul>
                    {% endif %}
 
            <p>¿Usted se vacuno contra la fiebre amarilla?
                <select name="si_o_no">
                    <option value="si">Si</option>
                    <option value="no">No</option>
                  </select>
            </p>
            <p>
                Fecha de la aplicación de la vacuna: <input type="date" name="fecha_aplicacion_fiebre_a"> 
            </p>


            <p style="text-align:center">       
                <input type="submit" value="Cargar información">
            </p>

            <p style="text-align:center">       
                <a href="{% url 'inicio' %}">
                    Volver a inicio
                </a>
            </p>
        </form>
    </span>
    </body>
</html>
{% endblock %}
