{% extends "gestion_usuarios/base.html" %}

{% block content %}
<html>
    <body>
        <p> Estatus de turno </p>
        

        <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 400px;text-align: left">
        {% if turnos %}
            {% for turno in turnos %}
            <li> <b>Vacuna a aplicar:</b> {{turno.vacuna}} </li>
            <li> <b> Vacunatorio: </b> {{turno.vacunatorio}} </li>
            <li> <b> Fecha: </b>{{turno.fecha}} </li>
            <li> <b> Hora: </b>{{turno.hora}} </li> 
                
            <p></p>
            {% endfor %}

        {% else %} 
        No hay turnos para mostrar
        {% endif %}        
        <p style="text-align:center">       
            <a href="{% url 'inicio' %}">
                Volver a inicio
            </a>
        </p>
    </body>
</html>
{% endblock %}