{% extends "gestion_usuarios/base.html" %}

{% block content %}
<html>
    <body>
        <p> Estatus de turno </p>
        

        <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 400px;text-align: right">
        {% if turnos %}
            {% for turno in turnos %}
            <li> <p>  Vacuna a aplicar: {{turno.vacuna}} </p>
                <p> Nombre de persona a vacunar: {{usuario.apellido}}, {{usuario.nombre}} </p>
                <p> Vacunatorio: {{turno.vacunatorio}} </p>
                <p> Fecha: {{turno.fecha}} </p>
                <p> Hora: {{turno.hora}} </p> </li>
            
            {% endfor %}

        {% else %} 
        No hay turnos para mostrar
        {% endif %}        
        <p>                
            <a href="{% url 'inicio' %}">Volver a inicio</a>
        </p> 
    </body>
</html>
{% endblock %}