{% extends "gestion_usuarios/base.html" %}

{% block content %}
<html>
    <body>

        <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 400px;text-align: left">
            <p style="text-align:center">
                <u><b>Estatus de turno</b></u> 
            </p>
        {% if turnos %}
            {% for turno in turnos %}
                {% if turno.estado == 'Asignado' or turno.estado == 'Pendiente' %}
                    <li> <b>Vacuna a aplicar:</b> {{turno.vacuna}} </li>
                    <li> <b> Vacunatorio: </b> {{turno.vacunatorio}} </li>
                    {% if turno.fecha %}
                        <li> <b> Fecha: </b>{{turno.fecha}} </li>
                        <li> <b> Hora: </b>{{turno.hora}} </li>
                    {% else %}
                        <li> <b> Fecha: </b>A confirmar </li>
                        <li> <b> Hora: </b>A confirmar  </li> 
                    {% endif %}

                {% else %}
                    {% if turno.estado == 'Completo' %}
                        <li> Su turno de la vacuna: <b>{{turno.vacuna}}</b> ya fue completado. </li>
                        <p> </p>
                    {% else %}
                        <li> Su turno de la vacuna: {{turno.vacuna}} no fue completado. Si desea un turno, debe volver a pedirlo. </li>
                        <p> </p>
                    {% endif %}
                {% endif %}
            
                <p></p>
            {% endfor %}

        {% else %} 
        No hay turnos para mostrar
        {% endif %}        
        <p style="text-align:center">       
            <a href="{% url 'inicio' %}">
                Volver a inicio
            </a>
        </p>
    </body>
</html>
{% endblock %}