{% extends "gestion_usuarios/base.html" %}

{% block content %}
<html>
    <body>
        <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 400px;text-align: right">
        <p> Historial de vacunación: </p>
        <p> Vacuna del coronavirus: </p>
        {% if historial_covid %}    
            <li>
                <p> Cantidad de dosis recibidas: {{historial_covid.cantidad_dosis}}</p> 
                {% if historial_covid.fecha_primeradosis %}
                    <p> Fecha de aplicación de la primera dosis: {{historial_covid.fecha_primeradosis}}</p>
                {% endif %}
                {% if historial_covid.fecha_segundadosis %}
                    <p> Fecha de aplicación de la segunda dosis: {{historial_covid.fecha_segundadosis}}</p>
                {% endif %}
            </li>

        {% else %} 
        <p> No hay historial para mostrar </p> 
        {% endif %}  


        <p> Vacuna de la fiebre amarilla: </p>
        {% if historial_fiebre_a %}
            {% if historial_fiebre_a.fecha_aplicacion_fiebre_a %} 
            <p> Fecha de aplicación de la vacuna de la fiebre amarilla: {{historia_fiebre_a.fecha_aplicacion_fiebre_a}}</p>
            {% endif %}

        {% else %} 
        <p> No hay historial para mostrar </p> 
        {% endif %}  

        <p> Vacuna de la gripe: </p>
        {% if historial_gripe %}
            {% if historial_gripe.fecha_aplicacion_gripe %} 
            <p> Fecha de la última aplicación de la vacuna de la gripe: {{historia_gripe.fecha_aplicacion_gripe}}</p>
            {% endif %}
        {% else %} 
        <p> No hay historial para mostrar </p> 
        {% endif %} 
        
        <p>                
            <a href="{% url 'inicio' %}">Volver a inicio</a>
        </p> 

    </span>
    </body>


</html>
{% endblock %}