{% extends "gestion_usuarios/base.html" %}

{% block content %}
<html>   
    <body > 
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            <span style="background-color: rgb(39, 166, 4); float: left; margin-left: 400px;text-align: right"> 
                {{ message }}
            </span>
        </span>
        </li>
        {% endfor %}
    </ul>
        {% endif %}
    
        {% if user.is_authenticated %}
        <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 400px;text-align: left">
            
            <p style="text-align:center">
                <u><b>Mis datos</b></u> 
            </p>
                
            <li>                
                <a href="{% url 'mi_perfil' %}"> Mi perfil </a>
            </li>
            <li>                
                <a href="{% url 'modificar_perfil' %}"> Modificar perfil </a>
            </li>
            <li>                
                <a href="{% url 'estatus_turno' %}"> Estatus de mis turnos</a>
            </li> 
            <li>                
                <a href="{% url 'historial' %}"> Ver historial de vacunación </a>
            </li>

            <p style="text-align:center">
                <u><b>Sacar turno</b></u> 
            </p>
            <li>  
               <a href="{% url 'covid' %}"> Sacar turno para vacuna del coronavirus </a> 
            </li>
            <li>
                <a href="{% url 'fiebre_a' %}"> Cargar información sobre historial de vacunación de fiebre amarilla</a>
            </li>
            <li>
                <a href="{% url 'turno_fiebre_a' %}"> Sacar turno para vacuna de la fiebre amarilla</a>
            </li>   
            <li>                
                <a href="{% url 'gripe' %}"> Sacar turno para la vacuna de la gripe</a>
            </li>
            <p> </p>
            <a href="{% url 'cerrar_sesion' %}" style="color: black; "> Cerrar Sesion </a> 
        </span>
        {% else %}
       
        <h1 font-family: 'Open Sans';
        font-size: 5px;
        color: #ccc;
        margin-bottom: 10px;
        style="text-align:center; background-color: rgb(21, 243, 120)"
        > 
        Bienvenidos a Vacun Assist   </h1>  
        <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 230px">
            <a href="{% url 'iniciar_sesion' %}" style="color: black; "> Iniciar sesion </a> &nbsp; &nbsp;
         <a href="{% url 'registro' %}" style="color: black;" >  Registrate!</a>
    
            <em>
            <b>  
        <p >   <img src="https://statics-diariomedico.uecdn.es/cms/2021-04/0428%20vacunatorio.jpg"
               width="550"
               height="350"
               style="float: left; font-style: oblique; text-decoration: underline">
               Vas a poder sacar turno de:</br> </br> </br>
               <ul>
                <li>COVID</li>
                <li>FIEBRE AMARILLA</li>
                <li>GRIPE</li>
             
                </ul>
        </p>
            </em>
             </b> 

        </span>
    
     
          
        
        
        {% endif %}

    </body>
</html>
{% endblock %}

