{% extends "gestion_usuarios/base.html" %}

{% block content %}
<html>
    <body>
        <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 400px;text-align: left">
            <p style="text-align:center">
                <u><b> Agregar usuario al sistema </b></u> 
            </p>

            <form action="/agregar_persona" method="POST"> {% csrf_token %}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        <span style="background-color: rgb(251, 133, 3)"> 
                            {{ message }}
                            </span>
                    </span>
                </li>
                {% endfor %}
                </ul>
                {% endif %}
                <p>
                    Nombre: <input type="text" name="nombre"> 
                </p>
    
                <p>
                    Apellido: <input type="text" name="apellido"> 
                </p>
    
                <p>
                    DNI:<input type="text" name="dni"> 
                </p>
    
                <p>
                    Fecha de nacimiento:<input type="date" name="fecha_nacimiento"> 
                </p>

                <p>
                    Email: <input type="text" name="email"> 
                </p>

                <p> Vacuna: 
                    <select name="vacuna">
                        <option value="Coronavirus">Coronavirus</option>
                        <option value="Fiebre Amarilla">Fiebre amarilla</option>
                        <option value="Gripe">Gripe</option>
                      </select>
                    </p>

                <p> Cantidad de dosis aplicadas: (Si corresponde)
                    <select name="nro_dosis">
                        <option value="0">0 dosis</option>
                        <option value="1">1 dosis</option>
                        <option value="2">2 dosis</option>
                      </select>
                    </p>

                <p>  Observaciones: <p> <textarea name="observaciones" rows="10" cols="40"></textarea> </textarea>>  </p> </p>

                <p style="text-align:center">       
                    <input type="submit" value="Registrar usuario">
                </p>
    
                <p style="text-align:center">       
                    <a href="{% url 'inicio_vac' %}">
                        Volver a inicio
                    </a>
                </p> 
            </form>
        
        </span>
    </body>
</html>
{% endblock %}