{% extends "gestion_usuarios/base.html" %}

{% block content %}
<html>
    <body>
        <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 400px;text-align: right">
            <p style="text-align:center">
                <u><b> Agregar usuario al sistema </b></u> 
            </p>
                
            <p style="text-align:center">       
                <a href="{% url 'inicio_vac' %}">
                    Volver a inicio
                </a>
            </p> 
        
        </span>
    </body>
</html>
{% endblock %}