{% extends "gestion_usuarios/base.html" %}

{% block content %}
<html>
    <body>
    <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 400px;text-align: left">
    <p style="text-align:center">
        <u><b> Turnos del día </b></u> 
    </p>

    {% for turno in turnos %}
    <ul> 
        <li> <b> Vacuna: </b> {{turno.vacuna}}  </li>
        <li> <b> DNI: </b> {{turno.usuario_a_vacunar}}</li>
        <li> <b> Hora: </b> {{turno.hora}} </li>

        <form action="/turnos_dia" method="POST"> {% csrf_token %}
            <li> <b>Estado</b>:
                <select name="estado">
                    <option value="completo">Completo</option>
                    <option value="incompleto">Incompleto</option>
                </select>
            </li>
            <p style="text-align:center">       
                <input type="submit" value="Cambiar estado">
            </p>
        </form>
    </ul>
    {% else %}
        No hay turnos registrados para este día
    {% endfor %}


    <p style="text-align:center">       
        <a href="{% url 'inicio_vac' %}">
            Volver a inicio
        </a>
    </p> 

    </span>
    </body>

 
</html>
{% endblock %}