{% extends "gestion_usuarios/base.html" %}


{% block content %}
<html>
    <body>
    <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 400px;text-align: left">
    <p style="text-align:center">
        <u><b> Turnos del día </b></u> 
    </p>
    {% if turnos %}
        {% for turno in turnos %}
        <ul> 
            <li> <b> Vacuna: </b> {{turno.vacuna}}  </li>
            <li> <b> Nombre: </b>  {{turno.apellido_usuario}}, {{turno.nombre_usuario}}</li>
            <li> <b> DNI: </b> {{turno.usuario_a_vacunar}}</li>
            <li> <b> Hora: </b> {{turno.hora}} </li>

            <form action="/turnos_dia" method="POST"> {% csrf_token %}
                <li> <b>Estado</b>:
                    <select name="estado">
                        <option value="asignado">Asignado</option>
                        <option value="completo">Completo</option>
                        <option value="incompleto">Incompleto</option>
                    </select>
                </li>
                <p style="text-align:center">       
                    <input type="submit" value="Cambiar estado">
                </p>
            </form>
        </ul>
        {% endfor %}
    {% else %}
        No hay turnos registrados para este día
    {% endif %}


    <p style="text-align:center">       
        <a href="{% url 'inicio_vac' %}">
            Volver a inicio
        </a>
    </p> 

    </span>
    </body>

 
</html>
{% endblock %}