{% extends "gestion_usuarios/base.html" %}

{% block content %}
<html>
<body>
    <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 400px;text-align: right">
    <p> Marcar estado de turno</p>

    <form action="/marcar_turno" method="POST"> {% csrf_token %}
        <p>Estado de turno actual: {{turno.estado}} </p>
        <p> Cambiar estado: 
            <select name="estado">
                <option value="completo">Completo</option>
                <option value="incompleto">Incompleto</option>
            </select>
        </p>

        <input type="submit" value="Marcar estado de turno">
    </form>

    <p>                
        <a href="{% url 'turnos_dia' %}"> Volver a turnos del día</a>
    </p>
    <p>                
        <a href="{% url 'inicio' %}">Volver a inicio</a>
    </p>
    </span>
</body> 
</html>
{% endblock %}