{% extends "gestion_usuarios/base.html" %}

{% block content %}
<html>
<body>
    <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 400px;text-align: left">
        
    <p style="text-align:center">
        <u><b> Marcar estado de turno </b></u> 
    </p>


    <form action="/marcar_turno" method="POST"> {% csrf_token %}
        <li> <u> Estado de turno actual</u>: {{turno.estado}} </li>
        <p> </p>
        <li> <u> Cambiar estado</u>:
            <select name="estado">
                <option value="completo">Completo</option>
                <option value="incompleto">Incompleto</option>
            </select>
        </li>

        <p> </p>

        <li> <u> Observaciones</u>: 
                <p> <textarea name="observaciones" rows="10" cols="40"></textarea> </textarea>>  </p>

        </li>

        <input type="submit" value="Marcar estado de turno">
    </form>

    <p>                
        <a href="{% url 'turnos_dia' %}"> Volver a turnos del día</a>
    </p>
    <p>                
        <a href="{% url 'inicio_vac' %}">Volver a inicio</a>
    </p>
    </span>
</body> 
</html>
{% endblock %}