{% extends "gestion_usuarios/base.html" %}

{% block content %}
<html>
    <body>
    <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 400px;text-align: left">
    <p style="text-align:center">
        <u><b> Turnos del día </b></u> 
    </p>

    {% block content2 %}
    
    {% endblock %}


    <p style="text-align:center">       
        <a href="{% url 'inicio_vac' %}">
            Volver a inicio
        </a>
    </p> 

    </span>
    </body>

 
</html>
{% endblock %}