{% extends "gestion_usuarios/base.html" %}


{% block content %}

<html>
    <body>
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
        {% endif %}
        <form action="/iniciar_sesion" method="POST"> {% csrf_token %}
            <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 459px;text-align: right">
          
            <p>
                Email: <input type="text" name="email"> 
            </p>
    
            <p>
                Contraseña: <input type="text" name="contraseña"> 
            </p>

            <p>
                Codigo: <input type="text" name="codigo"> 
            </p>
    
            <input type="submit" value="Iniciar sesion">
            <p>                
                <a href="{% url 'inicio' %}">Volver a inicio</a>
            </p> 
        </form>
    </body>
</html>



{% endblock %}

