{% extends "gestion_usuarios/base.html" %}


{% block content %}

<html>
    <body>
                    {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                    {% endif %}
        <form action="/registrarse" method="POST"> {% csrf_token %}
            <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 400px;text-align: right">
          

            <p>
                Nombre: <input type="text" name="nombre"> 
            </p>

            <p>
                Apellido: <input type="text" name="apellido"> 
            </p>

            <p>
                DNI: <input type="text" name="dni"> 
            </p>

            <p>
                Fecha de nacimiento: <input type="text" name="fecha_nacimiento"> 
            </p>

            <p> Vacunatorio:
            <select name="direccion">
                <option value="Zona municipalidad">51 e/ 10  y 11 nro 770</option>
                <option value="Zona cementerio">138 e/ 73 y 74 nro 2035</option>
                <option value="Zona terminal de omnibus">3 e/ 41 y 42 nro 480</option>
              </select>
            </p>
            <p>
                Email: <input type="text" name="email"> 
            </p>
    
        
            <p>
                Contraseña: <input type="text" name="contraseña1"> 
            </p>

            <p>
                Por favor, repita la contraseña: <input type="text" name="contraseña2"> 
            </p>
    
            <input type="submit" value="Registrarme">

            <p>                
                <a href="{% url 'inicio' %}">Volver a inicio</a>
            </p> 
        </form>
    </body>
</html>

{% endblock %}
