{% extends "gestion_usuarios/base.html" %}

{% block content %}

{% load static %}
{% load my_custom_tags %}
<!DOCTYPE html>
<html>
  
<head>
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script>
        function hola(){
            console.log("HOLA")
        }
    </script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
          
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
          
        h1 {
            color: black;
        }
    </style>
</head>
  
<body>
    <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 210px;text-align: left">
    <center>
        {% if turnos %}
            <h1>Informe de vacunación pendiente</h1>
            <b>Buscar por cualquier columna: 
            <input id="gfg" type="text" placeholder="Buscar">
            </b>
            <br>
            <br>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Vacunatorio</th>
                    <th>Fecha</th>
                    <th>Dosis</th>
                    <th>Estado</th>
                </tr>
                <tbody id="vacunas">
                    {% for tur in turnos %}
                        <tr>
                            <td>{{tur.nombre_usuario}}</td>
                            <td>{{tur.apellido_usuario}}</td>
                            <td>{{tur.usuario_a_vacunar}}</td>
                            <td>{{tur.vacunatorio}}</td>
                            <td>{{tur.fecha}}</td>
                            {% if tur.dosis %}
                                <td>{{tur.dosis}}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                            <td>
                                <form action="/asignar_covid" method="post">{% csrf_token %}
                                    <input type="hidden" name="dni" value="{{tur.usuario_a_vacunar}}" readonly />
                                    <select name="estado">
                                        <option value="Asignado">Aceptar turno</option>
                                        <option value="Incompleto">Rechazar turno</option>>
                                    </select>
                                    <br>
                                    <input type="submit" value="Modificar"></input>
                                </form>
                            </td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
  
            <script>
                $(document).ready(function() {
                    $("#gfg").on("keyup", function() {
                        var value = $(this).val().toLowerCase();
                        $("#vacunas tr").filter(function() {
                            $(this).toggle($(this).text()
                            .toLowerCase().indexOf(value) > -1)
                        });
                    });
                });
            </script>
        {% else %}
        <span >
            <b>No hay turnos pendientes</b>
        </span>
        {% endif %}
    </center>


    <p style="text-align:center">       
        <a href="{% url 'inicio_admin' %}">
            Volver a inicio
        </a>
    </p> 
     
    </span>
</body>
  
</html>

{% endblock %}