{% extends "gestion_usuarios/base.html" %}

{% block content %}
<html>    
    <body >
        
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            <span style="background-color: rgb(253, 246, 44)"> 
                {{ message }}
            </span>
        </span>
        </li>
        {% endfor %}
    </ul>
        {% endif %}
    
        {% if user.is_authenticated %}
        <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 400px;text-align: left">
            <p> </p>
            <li>                
                <a href="{% url 'mod_nombre' %}"> Modificar nombre de vacunatorio </a>
            </li>
            <p> </p>
            <b> <u> Informes: </u></b>
            <p></p>
            <li>                
                <a href="{% url 'informe_cant_persona' %}"> Personas que se vacunaron </a>
            </li>
            <p> </p>
            <li>                
                <a href="{% url 'info_personas' %}"> Personas que se registraron </a>
            </li>
            <p> </p>

            <b> <u> Manejo de turnos: </u></b>
            <p></p>
            <li>                
                <a href="{% url 'asignar_covid' %}"> Asignar turno para la vacuna del coronavirus </a> 
            </li>
            <p></p>
            <li>                
                <a href="{% url 'asignar_turno_fiebre' %}"> Asignar turno para la vacuna de la fiebre amarilla </a> 
            </li>
            <p></p>

            <b> <u> Manejo de usuarios: </u></b>
            <p></p>
            <li>                
                <a href="{% url 'historial_admin' %}"> Ver historial de vacunación de usuario </a> 
            </li>
            <p></p>

            <a href="{% url 'cerrar_sesion' %}" style="color: black; "> Cerrar Sesion </a> 
        </span>
        {% else %}
       
        <h1 font-family: 'Open Sans';
        font-size: 5px;
        color: #ccc;
        margin-bottom: 10px;
        style="text-align:center; background-color: rgb(21, 243, 120)"
        > 
        Bienvenidos a Vacun Assist   </h1>  
        <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 230px">
            <a href="{% url 'iniciar_sesion' %}" style="color: black; "> Iniciar sesion </a> &nbsp; &nbsp;
         <a href="{% url 'registro' %}" style="color: black;" >  Registrate!</a>
    
            <em>
            <b>  
        <p >   <img src="https://statics-diariomedico.uecdn.es/cms/2021-04/0428%20vacunatorio.jpg"
               width="550"
               height="350"
               style="float: left; font-style: oblique; text-decoration: underline">
               Vas a poder sacar turno de:</br> </br> </br>
               <ul>
                <li>COVID</li>
                <li>FIEBRE AMARILLA</li>
                <li>GRIPE</li>
             
                </ul>
        </p>
            </em>
             </b> 

        </span>
    
     
          
        
        
        {% endif %}

    </body>
</html>
{% endblock %}

