{% extends "gestion_usuarios/base.html" %}

{% block content %}
<html>
    
    <body >
    
        <form action="/mod_nombre" method="POST"> {% csrf_token %}
        <span style="float: left; border: solid 10px hsl(133, 100%, 76%); margin-left: 400px;text-align: left">
        Modificar nombre de un vacunatorio

        {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            <span style="background-color: rgb(251, 133, 3)"> 
                                {{ message }}
                                </span>
                        </span>
                    </li>
                    {% endfor %}
                </ul>
        {% endif %}

        <p> <b> Vacunatorios: </b></p>
        {% for vacun in vacunatorios %}
            <p> <u>Nombre</u>: {{vacun.nombre}} <u>Direccion</u>: {{vacun.direccion}} </p>
        {% endfor %}

        <p> Vacunatorio:
            <select name="direccion">
                <option value="Zona municipalidad">Zona municipalidad </option>
                <option value="Zona cementerio">Zona cementerio</option>
                <option value="Zona terminal de omnibus">Zona terminal de omnibus</option>
              </select>
            </p>
        <p>
            Nombre Actual: <input type="text" name="nombre_actual"> 
        </p>
        <p>
            Nombre Nuevo: <input type="text" name="nombre"> 
        </p>
        <input type="submit" value="Modificar Nombre">

        <p style="text-align:center">       
            <a href="{% url 'inicio_admin' %}">
                Volver a inicio
            </a>
        </p>

    </span>
</form>
    </body>
</html>
{% endblock %}